<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dogo to go</title>
</head>
<body>
    <p>
        W aplikacji wykorzystano obrazy z darmowych baz <a href="https://www.freepik.com/">Freepik</a> oraz
        <a href="https://pixabay.com/">pixabay</a>. Poniżej znajduje się lista obrazów wymagających uznania autorstwa
        wraz z odnośnikami prowadzącymi do zasobu.
    </p>
    <ul>
        <li><a href="https://pl.freepik.com/darmowe-zdjecie/duzy-czarny-pies-na-zewnatrz-w-parku_4201606.htm#from_view=detail_alsolike">Mastif-tybetański</a></li>
        <li><a href="https://pl.freepik.com/darmowe-zdjecie/pies-chartow-cieszacy-sie-spacerem_34674971.htm#fromView=search&page=1&position=1&uuid=3f2036d7-5db0-455f-a13a-9b4f1d9488bc">Whippet</a></li>
    </ul>
</body>
</html>