<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
</head>
<body>
<main layout:fragment="content">
    <div class="message-container">
        <h1>Witaj na Dogo&nbsp;to&nbsp;go!</h1>
        <h3>Szukasz idealnego psa? Odpowiedz na kilka pytań i&nbsp;znajdź wymarzonego pupila.</h3>
        <a th:href="@{/form}" href="/form">Zaczynamy</a>
        <p>Warto wiedzieć: Aplikacja jest projektem edukacyjnym.
            Zawarte w&nbsp;niej dane nie są wszechstronnym opisem ras psów.
            Nie zawiera także kompletnej listy wszystkich ras.
            Autorka dołożyła wszelkich starań, aby informacje o&nbsp;pieskach były autentyczne.
            Dlatego korzystanie z&nbsp;quizu może być użyteczną wskazówką.
            Szczegółowych porad warto zasięgać u&nbsp;specjalistów.</p>
    </div>
</main>
<footer></footer>
</body>
</html>