<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dogo to go</title>
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Lemonada&family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<aside>
    <p><a href="https://pl.freepik.com/darmowe-wektory/rama-z-wektorem-psow-na-bialym-tle_17432981.htm#query=pies&position=34&from_view=search&track=sph&uuid=fb93f74d-1c7a-4948-88cd-899022eeba85">
        [autor obrazu]</a></p>
</aside>
<main>
    <div class="message-container">
        <h1>Witaj na Dogo&nbsp;to&nbsp;go!</h1>
        <h3>Szukasz idealnego psa? Odpowiedz na kilka pytań i&nbsp;znajdź wymarzonego pupila.</h3>
        <a th:href="@{/form}" href="/form">Zaczynamy</a>
        <p>Warto wiedzieć: Aplikacja jest projektem edukacyjnym.
            Zawarte w&nbsp;niej dane nie są wszechstronnym opisem ras psów.
            Nie zawiera także kompletnej listy wszystkich ras.
            Autorka dołożyła wszelkich starań, aby informacje o&nbsp;pieskach były autentyczne.
            Dlatego korzystanie z&nbsp;quizu może być użyteczną wskazówką.
            Szczegółowych porad warto zasięgać u&nbsp;specjalistów.</p>
    </div>
</main>
</body>
</html>