<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dogo to go</title>
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
</head>
<body>
<p><a th:href="@{https://pl.freepik.com/darmowe-wektory/rama-z-wektorem-psow-na-bialym-tle_17432981.htm#query=pies&position=34&from_view=search&track=sph&uuid=fb93f74d-1c7a-4948-88cd-899022eeba85}">
    [autor obrazu]</a>
</p>
<div class="message-container">
    <h1 th:text="'Strona w przygotowaniu...'">Strona w przygotowaniu...</h1>
</div>
<div class="pic-source">

</div>
</body>
</html>