<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head layout:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dogo to go</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Lemonada&family=Montserrat&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../static/images/favicon.png" th:href="@{/images/favicon.png}">
</head>
<body>
<main layout:fragment="content">
</main>
<footer layout:fragment="footer">
    <p>&copy;2024 Monika Pustuła. Wszelkie prawa zastrzeżone.</p>
</footer>
</body>
</html>