<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/outcome.css}">
</head>
<body>
<main layout:fragment="content">
    <div th:unless="${dogs.isEmpty()}">
        <h1>Rasy spełniające podane kryteria:</h1>
        <ul>
            <li th:each="dog : ${dogs}">
                <img th:src="@{|/images/breeds/${dog.getFileName()}|}"
                     src="../static/images/breeds/akita-amerykańska.jpg" th:alt="${dog.breed}" alt="Akita amerykańska">
                <span th:text="${dog.breed}">Akita amerykańska></span>
            </li>
        </ul>
    </div>
    <div th:if="${dogs.isEmpty()}">
        <h1>Nie znaleziono rasy spełniającej wybrane kryteria</h1>
    </div>
    <div class="schroniskowiec">
        <h2>Alternatywna przyjacielska opcja &mdash;&nbsp;adopcja!</h2>
        <a href="https://funny-pets.pl/" target="_blank"><img th:src="@{|/images/breeds/schroniskowiec.jpg|}" src="../static/images/breeds/schroniskowiec.jpg"
             th:alt="schroniskowiec" alt="schroniskowiec"></a>
    </div>
    <div class="to-form-div">
        <a class="to-form-btn" th:href="@{/form}">Wróć do formularza</a>
    </div>
    <div>
        <a class="credit" th:href="@{/credit}">[Poznaj autorów zdjęć]</a>
    </div>
</main>
<footer>
    <a class="credit" th:href="@{/credit}">[Poznaj autorów zdjęć]</a>
</footer>
</body>
</html>