<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dogo to go</title>
</head>
<body>
    <div th:if="${dogs}">
        <ul th:each="dog : ${dogs}">
            <li th:text="${dog.breed}">Akita amerykańska</li>
        </ul>
    </div>
    <div th:unless="${dogs}">
        <p>Nie znaleziono rasy spełniającej wybrane kryteria</p>
    </div>
    <div>
        <p>Alternatywna przyjacielska opcja</p>
    </div>
    <a th:href="@{/form}">[Wróć do formularza]</a>
</body>
</html>