body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    color: #191919;
}
h1 {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 54px;
}
legend {
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}
label {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 18px;
}
fieldset {
   margin-bottom: 20px;
}
input[type="radio"] {
    appearance: none;
    background-color: whitesmoke;
    margin: 0;
    width: 1em;
    height: 1em;
    border: 0.05em solid #191919;
    border-radius: 40%;
    transform: translateY(0.15em);
    transition: 0.1s all linear;
}
input[type="radio"]:checked {
    border: 4px solid sienna;
}
button {
    font-family: "Lemonada", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    background-color: sienna;
    border: solid sienna;
    border-radius:4px;
    padding: 0 20px;
    opacity: 80%;
}
button:hover {
    opacity: 1;
}
form > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

@media screen and (max-width: 768px) {
    body {
        background-image: url("../images/background-vertical.jpg");
    }
    .container {
       margin-top: 120px;
       margin-left: 120px;
   }
    h1 {
        font-size: 28px;
    }
    fieldset {
        margin-bottom: 10px;
        border-width: thin;
    }
    button {
        background-color: peru;
        border: solid peru;
    }
    input[type="radio"]:checked {
        border: 4px solid peru;
    }
}