body {
    background-image: url("../images/background-pic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 250px 0 50px 0;
}
h1 {
    color: peru;
    font-family: "Broadway", serif;
}
a {
    color: gray;
    text-decoration: none;
    font-family: "Palatino Linotype", serif;
    font-size: 10px;
}

@media screen and (max-width: 768px) {
    body {
        background-image: url("../images/background-pic-vertical.jpg");
    }
    h1 {
        font-size: 0.9em;
    }
}